@CHARSET "UTF-8";

li {list-style-type:none;}

#move{
	position: absolute;
	z-index:-10;
	padding-bottom:15px;
}
#showData{
  /*   float: right;
    margin-left:10px;
    margin-right:18px; */
    right:18px;
    border:1px solid #afafaf;
    width:20%;
    font-size:14px;
    font-family:"微软雅黑";
    max-height:450px;
     /* min-height:250px;                
     _height:250px;  */
    display:none;
    overflow-x: hidden;
	overflow-y: auto;
	position:fixed;
}

a{
   cursor:pointer;
}

.titleHead{
	height:30px;
	background:#f3ece6;
}

.titleWord{
    color:#c3a080; 
    float:left;
    margin:5px;
}

.close{
    float:right;
    margin:5px;
}

.dataHead{
/* 	border:1px solid #3289db; */
	margin:5px;
	height:30px;	    
}
.titleLine{
	background-color:#c3a080;
	height:16px;
	width:4px;
	float:left;
	margin-top:8px;
}
.word{
     color:#c3a080;
     margin-left:5px;
     vertical-align:middle;
    display:inline-block;
    margin-top: 5px;
    float:left;
}
.relatedData>li{
 	color:#333;
	margin-left:13px; 
}

.noRelatedData>li{
 	color:#999;
	margin-left:13px; 
}

.relatedData a:hover{
    text-decoration:underline;
    color:#fab432;
}
.noRelatedData a:hover{
    text-decoration:underline;
    color:#fab432;
}

#targetInfo{
	font-family:"微软雅黑";
	font-size:14px;
	margin-bottom:10px;
}

.scoreInput{
   width:200px;
   text-align:center;
}
.scoreSelect{
   width:200px;
   text-align:center;
}
.putInput{
	text-align:center;
} 

.table-content tr td{
	text-align:left;
}

.submintImg{
	margin-left:3px;
	display:none;
}

.option{
	position:relative;
	/*vertical-align:top; */
	/*background:url(../../../images/expertScore/optioned.png) right top no-repeat;*/
}

.writeOption{
/*	text-decoration:underline;*/
	/*position:absolute;*/
	text-align:center;
	display:none;
}
.writeOption>span,.writeOption>a{
	font-size:14px;
	color:#7dac2b;
}

.relatedData li,.noRelatedData li{
	  /* list-style:url( ../../../images/plugins/components/liDisc.png); */
	 list-style-position:inside;
	 list-style-type:disc;
	  margin:5px 0px;
 }
 
 .relatedData,.noRelatedData{
 	margin-left:15px;
 }
 
 .inputOnBlur{
 		border:1px solid red;
		border-color:#58ACFA; 
		-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s; 
		-webkit-box-shadow:0 0 3px #58ACFA; 
		-moz-box-shadow: 0 0 3px #58ACFA;
		box-shadow:0 0 3px #58ACFA;
 }
 
 .error{
 	display:block;
 	margin:0 auto;
 	color:red;
 	font-size:12px;
 }
 
 .errorOther{
 	display:inline;
 	color:red;
 	font-size:12px;
 	margin-left:5px;
 }
 .errorImg{
  	display:none;
  	margin-left:6px;
 }
 
 input{
 	width:40px;
 	height:20px;
 	background-color:white;
 	border:#c5c5c5 1px solid;
 	text-indent:5px;
 }
 
 /**********浮动图标*********/
 #floatIcon{
 	z-index:999;
 	position:fixed;
 	top:50%;
 	right:20px; 
 }
 .backgroundIcon{    	
 	width:80px;
 	height:80px;
 	background:url(../../../images/grade/fullIcon.png) no-repeat;
 }

 
 .backgroundIcon:hover{
 	background:url(../../../images/grade/emptyIcon.png) no-repeat;
 }
 
 .selectType{
 	width:40px;
 	height:20px;
 	font-size:12px;
 /*  	background-color:white; */
/*  	border:#c5c5c5 1px solid */
 }
 #save_otherMajor{
 	right:20px;
 	top:120px;
 	height:35px;
 	position:fixed;
 	
 }