body{height:100%;margin:0;font-size: 14px;padding:0;}
html{
	/*height:100%;
	scrollbar-face-color: #74c4e1; 
	scrollbar-shadow-color: #89ddf9; 
	scrollbar-highlight-color: #89ddf9; 
	scrollbar-3dlight-color: #89ddf9; 
	scrollbar-darkshadow-color:#89ddf9; 
	scrollbar-track-color: #bbedfe; 
	scrollbar-arrow-color: #2c8db1;		*/
}

*{
    margin: 0;
    padding: 0;
}
.header{
	padding-top: 5%;
}
.header, .center{
    margin: 0 auto;
    width: 90%;
    position: relative;
}
.header h1{
    color: #52acea;
    font-size: 18px;
    margin-bottom: 5px;
}
.header hr{
    position: absolute;
    border: 1px solid #cccccc;
    width: 100%;
}
.header .title{
    z-index: 2;
    width: 90px;
    border: 2px solid #52acea;
}

.center{
    padding-top:20px;
}
.center form{
    left: 0;
    /* position: absolute; */
}
.center .form-f{
	position: absolute;
	width:50%
	}
.center .radios{
    display: -moz-inline-box;
}
.center li{
    list-style: none;
    margin-top: 20px;
}
.center li label{
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    vertical-align: bottom;
}
.radio{
    width: 160px;
    border: 1px solid #cccccc;
    text-align: center;
    color: #cccccc;
    position: relative;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
}
.input-radio{
    position: absolute;
    right: 0%;
    bottom:0;
    background: url("../images/choose.png") no-repeat;
}
.center .input{
    height: 40px;
    line-height: 40px;
    width: 320px;
    padding-left: 10px;
}
.center select {
    height: 40px;
    line-height: 40px;
    width: 332px;
    padding-left: 10px;
    border: 1px solid  #cccccc;
    border-right: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/pulldown.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}
.center select option{
    padding-left: 10px;
}
.submit{
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    color: #FFFFFF;
    cursor:pointer;
}
 .bule{
    background-color: #52acea;
    border: 1px solid #52acea;
     margin-right: 10px;
}
 .xxx{
    background-color: #848484;
    border: 1px solid #848484;
}
.dowebok{
    display: inline-flex;
}

.commit{
    margin-left: 15%;
}
.word{
    position: absolute;
    right: 10%;
}
.center ul li .warn{
	color: red;
	padding-left: 100px;
    padding-top: 5px;
}