.teamLimit{
	margin-top:5px;
}

.teamLimit input{
	width:50px;
}

.panel-container{
    width:300px;
    height:300px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-color: #ffffff;
    border: 1px solid #348be7;
    border-radius: 5px;
}

.panel-container-image{
	width:400px;
}

.panel-title{
	height: 40px;
    line-height: 40px;
    background-color: #348be7;	
}

.panel-title h3{
	padding-left: 10px;
    color: #ffffff;
}

.panel-content{
	height: 223px;
    overflow: auto;
}

.panel-content ul{
    list-style: none;
    padding:0;
    margin: 10px;
}

.panel-content ul li{
    margin-bottom:10px;
}

.panel-content .image-group-list li{
	display:inline-block;
	margin-bottom:10px;
	margin-right:10px;
	position: relative;
}

.panel-content .image-group-list li.selected-image:before{
    content: url(../../../images/fengmian.png);
    position: absolute;
    top: -7px;
    left: -7px;
}

.panel-content .image-group-list li:hover{
	cursor: pointer;
}

.remove-item{
	width: 14px;
	height:14px;
    background-color: #ffffff;
    color: red;
    font-size:14px!important;
    font-weight:bold;
}

.addNew{
	display: block;
    width: 90px;
    margin: 20px auto;
    background-color: red;
}

.panel-footer{
	height: 38px;
    background-color: #348be7;
}

.panel-cancel{
	background-color:#f0f0f0;
	color:#000000;
}

.panel-confirm{
    margin: 4px 0 0 143px;
}

.hidden{
    display: none!important;
}

.image-options{
    width: 100px;
    height:80px;
    background-color: rgba(200,200,200,0.3);
    padding: 5px!important;
    position: absolute;	
    top: -14px;
    left: -15px;
}

.image-options li{
	text-align: center;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 2px 0;
    margin-top: 10px;
    margin-bottom: 0!important;
    width:100%;
}

.options-selected{
	margin-top:0!important;
}

#imageUpload{
    position: absolute;
    top: 0;
    left: 0;
}

.u-file-btnzone{
	width:100px!important;
	height:80px!important;
}

.u-file-btnzone:hover{
	cursor: pointer;
}

#upload_info_table{
	display:none!important;
}

.imageUploadAgain{
	position:absolute;
	top:0;
	left:0;
	width:100px;
	height:30px;
}