@CHARSET "UTF-8";
body{
	background-color:#f6f6f6;
	margin: 0px;
	margin-left:10px;
	width:98%;
}
.topStyle{
	width:98%;
	background-color:#ffffff;
	position:fixed;
	z-index:2;
	height:62px;
}

.topTitle{
	display:inline;
	height:62px;
	line-height:62px;
	border-left:7px solid #348be7;
	background-color:#ffffff;
	font-family:"微软雅黑";
	font-size:16px;
	position:absolute;
	padding-left:20px;
	padding-right:20px;
	float:left;
	algin:center;
	color:#348be7;
}
.operateRight{
	display:inline;
	padding:21px 21px;
	float:right;
	font-size:14px;
}
a:hover{
	color:#f9be5a;
	cursor:pointer;
}