@CHARSET "UTF-8";
body{
	background-color:#f6f6f6;
	margin: 0px;
}
.topStyle{
	width:100%;
	height:66px;
	background-color:#ffffff;
	position:fixed;
	z-index:2;
	border-bottom:1px solid #c5c5c5;
}

.topTitle{
	display:inline;
	height:62px;
	line-height:62px;
	border-bottom:5px solid #c3a080;
	background-color:#f3ece6;
	font-family:"微软雅黑";
	font-size:16px;
	position:absolute;
	padding-left:20px;
	padding-right:20px;
	float:left;
	algin:center;
}
.operateRight{
	display:inline;
	padding:21px 21px;
	float:right;
	font-size:14px;
}
a:hover{
	color:#f9be5a;
	cursor:pointer;
}