@CHARSET "UTF-8";

 .noDataImg{
    margin:0 auto;
    display:block;
    padding-top:5%;
 }		   
 
.inputImg{
	 margin: 0 auto;
    display:none;
}

.child{
		text-align:left;
}

.trainGoal{
		text-align:left;
		width:8%;
}