/*表格的最外层div*/
tr{
	background-color:#fff;
}

.table-content{
	width:98%;
	height:auto;
	border-left:1px solid #c3a080;
	border-top:1px solid #c3a080;
	margin-left: 18px;		
}
.table-content table{
	width: 100%;
}
/*表格的每行*/
.table-content tr{
	width:auto;
	height:30px;
	font-family:"Microsoft YaHei";
	font-size:13px;
	color:#33333;
	line-height:30px;	
}
.table-content tr td{
	border-right:1px solid #c3a080;
	border-bottom:1px solid #c3a080;
	text-align: center;		
	text-indent:5px;
}

/*表格的表头样式*/
.table-title{
	height:30px;
	color: #75614d;
	text-align: center;	
}
.table-title td{
	text-align: center;
}

/*nochang类表示该数据是不能修改的，可以运用在一行或者单元
        格上，如果是一行不能改变那就在tr上引用，如果是一行上的某个数据，则该数据的标题和数据框都引用*/
.nochange{
	background-color:#f4f4f4;	
}
/*数据可以修改的表格的标题*/
.table-th-change {
	text-align:center;
}
/*数据不能修改的表格的标题*/
.table-th-nochange {
	text-align:center;
}
/*数据输入单元格*/
.table-td{
	text-align:left;
}
/*数据输入单元格是文本框*/
.table-td input{
	border:0;
	height:30px;
	text-indent:5px;
	width:auto;	
	line-height: 30px;
}
/*数据输入单元格是下拉框*/
.table-td select{
	border:0;
	height:30px;
	width:100%;	
}
/*数据输入单元格是插件*/
.img-plug-in{
	float:right;
	margin-right:5px;
	margin-top:8px;
	cursor:pointer; /*手型*/
}
/*说明文字*/
.explain{
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#33333;
	margin-top:5px;
	float:left;
	margin-left: 18px;
}
/*有说明文字的保存按钮*/
.save-button{
	height:30px;
	width:70px;
	float:right;
	margin-top:5px;
	cursor:pointer;
}
/*无说明文字的保存按钮*/
.save-button-noexplain{
	height:30px;
	width:70px;
	float:right;
	margin-top:5px;	
	cursor:pointer;
}
.table-head-bg{
	background-color:#2ca4f5;
	color:#FFFFFF;
	border-right:1px solid #FFFFFF;
}
