
*{
	margin: 0;
	padding: 0;
}
/*卡片样式*/
.card{
	width:183px;
	float:left;
	border:0;
	margin: 7px;
}

.card div {
	min-height: 19px;
	padding: 8px;
}
/*显示信息的div*/
.infoDiv {
	float:left;
	cursor:default;
	width:125px;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: #e8f1d7;
	white-space:nowrap;
}

/*删除*/
.removeDiv {
	height:100%;
	float:right;
	cursor:pointer;
	background-color: #8ab939;
	color : #ffffff;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}


/*下方区域的样式*/
.showSelectedFieldset {
	height: 152px;
	border:1px solid #8ab939;
	width: 812px;
}

/*标题样式*/
.selector-title {
	width: 812px;
	height: 35px;
	line-height: 35px;
}
.selector-title img {
	float: left;
	position: relative;
	left: -2px;
}
.selector-title p {
	position: relative;
	left:9px;
	bottom: 6px;
	float: left;
	font-size: 18px;
	color: #8ab939;
}

.selector-title a{
	float: right;
	position: relative;
	bottom: 6px;
}


